@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 190 70% 95%;
    --foreground: 224 71.4% 4.1%;
    --card: 190 70% 98%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 190 70% 98%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 207 90% 61%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 13% 91%;
    --secondary-foreground: 220 9% 45%;
    --muted: 220 13% 91%;
    --muted-foreground: 220 9% 45%;
    --accent: 232 45% 55%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 85%;
    --input: 220 13% 88%;
    --ring: 207 90% 61%;
    --chart-1: 207 90% 61%;
    --chart-2: 232 45% 55%;
    --chart-3: 27 87% 67%;
    --chart-4: 173 58% 39%;
    --chart-5: 43 74% 66%;
    --radius: 0.5rem;
    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 207 90% 61%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 222 47% 18%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217 33% 27%;
    --sidebar-ring: 207 90% 61%;
  }
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 14%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 207 90% 61%;
    --primary-foreground: 210 20% 98%;
    --secondary: 217 33% 27%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 27%;
    --muted-foreground: 218 10% 65%;
    --accent: 232 45% 55%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217 33% 27%;
    --input: 217 33% 27%;
    --ring: 207 90% 61%;
    --chart-1: 207 90% 61%;
    --chart-2: 232 45% 55%;
    --chart-3: 27 87% 67%;
    --chart-4: 173 58% 39%;
    --chart-5: 43 74% 66%;
    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 207 90% 61%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 222 47% 18%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217 33% 27%;
    --sidebar-ring: 207 90% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
